@charset "UTF-8";
/*Light Box*/
.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;text-align:center;line-height:0;font-weight:400}.lightbox .lb-image{display:block;height:auto;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}.lb-outerContainer:after{content:"";display:table;clear:both}.lb-container{padding:4px}.lb-loader{position:absolute;top:43%;left:0;height:25%;width:100%;text-align:center;line-height:0}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(/uploads/site_phpwebfactories/pages/images/loading.gif) no-repeat}.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0}.lb-next,.lb-prev{width:49%;height:100%;cursor:pointer;display:block}.lb-prev{left:0;float:left}.lb-prev:hover{background:url(/uploads/site_phpwebfactories/pages/images/prev.png) left 48% no-repeat}.lb-next{right:0;float:right}.lb-next:hover{background:url(/uploads/site_phpwebfactories/pages/images/next.png) right 48% no-repeat}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#bbb}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(/uploads/site_phpwebfactories/pages/images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

/*Home Page*/
.trends{padding:55px 0}
.boxes{padding: 15px 0}
.boxes-body{position:relative !important;min-height:180px;}
.boxes-body p{position:absolute;z-index:1;background:#fff;padding-bottom:15px}
.boxes-img{padding-bottom: 15px}
.boxes-title h4{color: #566473;font-size: 25px !important;margin-top: 0px !important;text-align: left !important;font-weight: 300 !important;line-height: 34px;}
.our-approach{ padding: 100px 0 !important;border-top: 1px solid #e1e1e1 !important;}
.title-{ color: #333;font-size:36px !important;margin-top: 0px;}
.sub-title{color: #00b4ff;font-size: 22px;font-weight: 300;}
.subtitle .title{color: #333;margin: 10px 0 0 0;font-size: 48px !important;font-weight: 300;}
.text-body{padding: 15px 0;}
.btn-learn {margin: 5px 0 15px 0;}
.web-services{padding: 110px 0 !important; background: url(../img/webservices-static-bg.jpg) top right;background-size: cover;}
.web-services-commerce{ color: #fff;padding: 110px 0;background: #2a3139 url('http://webtools2go.com/uploads/_gridguyz/pages/img/e-commerce-platform-section.jpg') left top;background-size: cover;}
.list-{color: #fff !important;padding: 0;font-size: 18px;list-style: none;line-height: 26px !important;}
.icon-static li{float: left;width: 50%;margin-bottom: 25px;}
.icon-static li p{width: 150px;border: 1px solid #fff;height: 150px;margin: auto;text-align: center;border-radius: 50%;}
.icon-static li p em{top: 35px !important;color: #fff;position: relative;font-size: 16px;font-style: normal !important;font-weight: 400;}
.portfolio,.blogs{padding:60px 0}
.portfolio .span3{border: 1px solid #eeeeee;margin: 1em 0.5em;display: inline-block;padding: 6px;}
.portfolio div.span3 img {width: auto !important;height: auto !important;max-width: 100%;}
.blogs{border-top: 4px solid #00b4ff !important;}
.title-border{color: #333;margin: 0 0 30px 0;padding:0 0 .8em 0;font-size: 24px;font-weight: 400;border-bottom: 1px solid #d6d6d6;}
.social-list{display:table;padding:0;}
.social-list li{display:table-cell;}
.social-list li a{color:#fff;width:68px !important;height:68px;line-height:78px;display:block;margin-right:7px;text-align:center;border-radius:3px;}
.social-list li a i{font-size:28px;}
.social-list li a.fb{background:#53a1e0;}
.social-list li a.twitter{background:#51b0b9;}
.social-list li a.pinterest{background:#f23a3a;}

/*BLOG*/
.post-article:first-child{padding-top:0px;margin-top:0px;border-top:0px solid #d6d6d6}
.post-article{padding-top:40px;margin-top:40px;border-top:1px solid #d6d6d6}
.article-banner img{max-width:100%;height:auto;}
.article-title {margin:25px 0 15px 0}
.article-title h3 a{color:#333;font-weight:400;}
.article-title h3 a:hover{color:#00b4ff;}
.article-publish{padding-bottom:5px;}
.article-publish ul{padding:0;display:table;}
.article-publish ul li{display:table-cell;padding-right:10px;font-size:14px;}
.article-publish ul li span{margin-left:5px;}
.article-more{margin-top:30px}

/*Footer*/
.layout-footer{border-top: 4px solid #00b4ff;background-color: #222222;padding:45px 0 8px 0}
.layout-footer h5 {color: #ffffff;padding: 7px !important;background: #181818;margin-top:20px;}
.layout-footer h5 .fa {color: #00b4ff;padding-right: 0.3em;}
ul.partner-list li{background: url(../img/bullet.png) no-repeat left center;list-style: none;line-height: 35px;padding-left: 1.8em;}
ul.partner-list li a {color: #fff;line-height: 24px;}
.layout-footer p .fa{width: 30px;color: #00b4ff;float: left;font-size: 22px;text-align: center;margin-bottom: 0.5em;padding-right: 0.3em;}
.webfactories_presentation ul{padding: 0;list-style: none;}
.webfactories_presentation ul li{margin: 8px;text-align: center;}
a.top{padding: 1em 2.2em 1.4em 2.2em;background: url(../img/top.png) no-repeat top center;}
a.top:hover{background: url(../img/top.png) no-repeat bottom center;transition-duration: 0.5s;-o-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.webfactories_presentation ul li a{padding: 8px 5px 8px 5px;display: block;border-radius: 5px;}
.webfactories_presentation ul>li .slideshare_btn{margin-top: 20px;background-color: #057ab6;color:#fff;}
.webfactories_presentation ul>li .swipe_btn{background-color: #f6910a;}
.webfactories_presentation ul>li .swipe_btn img {width: 65px;}
.webfactories_presentation ul>li .fa {margin-right: 5px;}
#copyright{background: #00b4ff;padding: 30px 0 15px 0;}
#copyright p,#copyright a,.layout-footer p,.layout-footer p a{color:#fff !important;}

@media (max-width:991px)
{
  .our-approach .col-md-6:last-child,.web-services .col-md-6:last-child,.web-services-commerce .col-md-6:last-child{margin-top: 30px !important;}
  .our-approach .col-md-6,.web-services .col-md-6,.web-services-commerce .col-md-6 {text-align: center !important;}
  .boxes-body p{position:relative;}
}
@media (max-width:767px)
{
  .boxes-body{min-height:90px !important;}
}

@media (max-width:580px)
{
  .icon-static li p{width: 130px;height: 130px;}
  .icon-static li img{width: 40% !important;}
}


/*NEIL CUSTOM CSS*/

.header_bg {
	padding: 170px 0 80px 0;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100% !important;
    min-width: 100% !important;
    border-bottom: 4px solid #00b4ff;
    color: #fff;
	padding: 170px 0 80px 0;
}

.e-commerce
{
	color: #fff;
	padding: 170px 0 80px 0;
	background: url('/img/general-bg.jpg') center -134px;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100% !important;
    min-width: 100% !important;
    border-bottom: 4px solid #00b4ff;
}

.e-commerce *
{
	color: #fff !important;
	text-shadow: 1px 1px 1px #777;
}

.e-commerce .lead
{
	font-size: 36px;
}




/*general page*/
.general p {
    color: #7f8c8d;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.general .main-container{
    padding:20px 0px 50px; 
}
.general.custom .main-container{
    padding:20px 0px 0px; 
}
.general .main-container h1.title{
    padding:0px 0px 10px;
    color:#333;
}

#page-general .container {
    width: 1170px;
    margin: auto;
    max-width: 100%;
}
#page-general p {
    color: #7f8c8d;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
#page-general {
    background-color: #fff !important;
    padding: 50px 0px;
}
#page-general h2 {
    font-size: 36px;
}

#page-general h2 {
    font-size: 36px;
}

#page-general h3,
.h3 {
    font-size: 24px;
}

#page-general img{
    max-width: 100% !important;
}

/*bot page*/
.subtitle .title {
    margin: 10px 0 0 0;
    font-size: 60px !important;
    font-weight: 300;
}
.subtitle .lead {
    margin: 15px 10px 60px 10px !important;
    font-size: 24px !important;
    color:#fff;
}

a.botpagespec-det:hover {
    transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.botpage .title{
	padding:40px 0px 20px;
}
.botpage .lead{
	padding:0px 0px 20px;
}

.button-down img
{
	border: solid 1px #b2b2b2;
	padding: 10px;
	transition: .6s;
	border-radius: 50%;
	-webkit-transition: ease-in-out 500ms;
}
#botpage {
	color: #fff;
    padding: 0;
    background: url('/img/bot-slider-bg2.jpg') bottom;
    background-attachment: fixed;
}
.botpage {
    color: #fff;
    padding: 150px 0 130px 0;
    text-align: center;
}
.bot_ttle {
    margin: 0px 0px 5px;
}
.social p {
    padding: 10px 0px;
    line-height: 1.3;
}
.bot-new-apps {
    padding: 30px 20px 40px;
    background: #fafafa;
    border-bottom: dotted 1px #f5f5f5;
}
.details.bot2 {
    border-bottom: none !important;
}
.follow-us-on {
    padding: 100px 0px 160px;
    text-align: center;
    background-image: url(/img/botpage/bot-social-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.button-down img {
    border: solid 1px #b2b2b2;
    padding: 10px;
    transition: .6s;
    border-radius: 50%;
    -webkit-transition: ease-in-out 500ms;
}
.supp2 .social p {
    color: #fff !important;
}
body .botpagespec {
    padding-bottom: 0px !important;
}
.follow-us-on .supp1 {
    padding: 20px 0px 60px;
}
.bot-new-apps .imgbot {
    border: solid 1px #f3f3f3;
}
.follow-1 .follow-sec {
    width: 66%;
    margin: auto;
}
.button-down img:hover {
    border: solid 1px #333;
    padding: 10px;
    border-radius: 50%;
}
.bot-new-apps .detbot p {
    margin: 0px !important;
    padding: 0px !important;
}
.botpage-nav-experience {
    padding: 50px 0px;
    box-shadow: 1px -2px 15px #f9f9f9;
}
.botpage-suppport-funct {
    padding: 50px 0px 50px;
    background: #fafafa;
    text-align: center;
}
.follow-us-on .supp1 h3 {
    color: #fff;
    width: 500px;
    border: solid 1px;
    margin: auto;
    padding: 10px;
    font-weight: 100;
}
.bot-new-apps .detbot h3 {
    margin: 30px 0px 0px !important;
    padding: 10px 0px 10px !important;
}
.social .col-sm-4:hover p {
    color: #e1e1e1 !important;
}
.botpagespec-det .col-sm-12 {
    padding: 10px 10px;
}
.bot-new-apps .detbot strong {
    font-weight: 500;
}
.botpagespec-det .details h3 {
    padding: 0px 0px 20px;
    color:#333;
}
.details.bot2,
.details.bot1 {
    border-bottom: dotted 1px #eee;
    padding-bottom: 30px;
}
.botpage-nav-experience .nav2 {
    padding: 40px 0px 50px;
}
.AI- .col-sm-5,
.AI- .col-sm-7 {
    padding: 0px;
}
.botpage-suppport-funct .supp2 {
    padding: 30px;
}
.botpage-suppport-funct .supp2 a {
    color: #fff !important;
    padding: 13px 40px 13px 30px;
    font-size: 18px;
    background: #45d4ff;
    box-shadow: 0px 4px 2px #ddd;
    border-radius: 27px;
}
.botpage-nav-experience .nav-exp1 {
    text-align: center;
}
.botpage-suppport-funct .supp1 h3 {
    padding: 0px 0px 30px;
}
.botpage-nav-experience .nav2 .nav-img2 {
    padding: 0px 0px 30px;
}
body .botpage-suppport-funct .supp2 a img {
    padding: 0px 0px 6px;
    margin-right: 8px;
}
#paragraph-9564-container,
#paragraph-9539-container {
    color: #fff;
    padding: 0;
    background: url('/uploads/site_phpwebfactories/pages/bot-slider-bg2.jpg') bottom;
    background-attachment: fixed;
}
@media (max-width: 768px) {
    .botpage {
        color: #fff;
        padding: 150px 0 40px 0;
        text-align: center;
    }
    .botpagespec-det .col-xs-9 {
        padding: 10px 20px;
        min-width: 100% !important;
    }
}
@media (max-width: 640px) {
    .botpage {
        color: #fff;
        padding: 150px 0 40px 0;
        text-align: center;
    }
    .AI- .col-sm-5 {
        text-align: center;
    }
    .follow-1 .follow-sec {
        width: 100%;
        margin: auto;
    }
    .botpagespec-det .col-sm-12 {
        padding: 10px 20px !important;
    }
    .botpage-suppport-funct .supp2 a {
        color: #fff !important;
        padding: 12px 20px 12px 10px;
        font-size: 18px;
        background: #45d4ff;
    }
    .botpagespec-det .thumb,
    .botpagespec-det .thumb,
    .botpagespec-det .col-xs-9 {
        min-width: 100% !important;
    }
}
@media (max-width: 480px) {
    .botpage {
        color: #fff;
        padding: 150px 0 20px 0;
        text-align: center;
    }
    .follow-us-on {
        padding: 20px 0px 50px;
        text-align: center;
        background-image: url(/img/botpage/bot-social-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    .follow-us-on .supp1 h3 {
        width: 100%;
    }
    .botpagespec-det .col-sm-12.sec-secbot .detbot {
        padding: 0px;
        text-align: center;
    }
    .botpagespec-det .col-sm-12.sec-secbot .detbot,
    .botpagespec-det .col-sm-12.sec-secbot .imgbot {
        min-width: 100% !important;
    }
}
@media (max-width: 400px) {
    .botpage {
        color: #fff;
        padding: 100px 0 20px 0;
        text-align: center;
    }
    .botpage .subtitle .lead {
        margin: 20px 10px 20px !important;
    }
    body .button-down .top img {
        width: 20% !important;
    }
}

.form-div {
    background: #f6f6f6;
    padding: 15px 30px 30px 30px;
}
.form-div .form-holder h3 {
    margin-bottom: 35px;
    font-weight: 600;
    color:#333;
}
.form-div .form-holder {
    margin-bottom: 15px;
}
.form-div .form-holder .form-label,
.form-textarea {
    margin-bottom: 5px;
    font-weight: 700; 
    color:#333;
    font-size:14px;
}
.form-div .form-holder .form-input input {
    border-color: #eee;
    width: 100% !important;
    height: 34px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 0px !important;
}
.form-div .form-holder .form-input textarea {
    border-color: #eee;
    background: #fff;
    padding: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    box-shadow: 0px 0px 0px
}
.form-div .form-holder .btn-form {
    font-size: 14px;
    background: #45d4ff;
    border: 0;
    padding: 10px 25px;
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 0px 0px 0px !important;
}
.zoho-form .form-input input {
    border: none;
}
.zoho-form .btn {
    font-size: 14px;
    background: #45d4ff;
    margin-right: 10px;
    padding: 0px 15px;
}
.zoho-form .btn input {
    background: none !important;
    border: none;
    box-shadow: 0px 0px 0px !important;
}


/*static website page*/

.responsive h2
{
    color: #01c5ff;
    margin-bottom: 20px;
}
#page-general .responsive h2 {
    font-size: 24px;
    font-weight: 100;
}
#paragraph-8591-container {
    color: #fff;
    padding: 0;
    background: url('/uploads/site_phpwebfactories/pages/images/static-websites-bg.jpg');
    background-attachment: fixed;
}




/*responsive*/

.responsive * {
    font-weight: 300;
}
.innovative-technologies h2{
    color: #8e44ad;
}
.innovative-technologies .subheading {
    color: #bdc3c7;
}
.extra-key-features h2, .extra-key-features h3 {
    color: #34495e;
}
.extra-key-features h3 {
    margin-bottom: 15px;
}

.innovative-technologies h2
{
    color: #8e44ad;
}
.innovative-technologies li
{
    width: 22%;
    border: 1px solid #eee;
    margin: 0 5px;
    display: inline-block;
    text-align: center;
}
.innovative-technologies ul
{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 
.innovative-technologies {
    padding-bottom: 60px;
} 



/*bottom sec*/

#btm_bg {
   height: 150px;
   background: transparent url(/img/bg1.png) center 10px no-repeat;
}




/*RESPONSIVE*/
@media only screen and (max-width:1024px ) {
	 .botpage-suppport-funct img,
	 .botpage-nav-experience img{
	 	max-width:100% !important;
	}
}

@media only screen and (max-width:768px ) {
	.general .main-container{
    	padding:20px 20px 50px; 
	}
	.general.custom .main-container{
	    padding:20px 0px 0px;
	}
	#btm_bg {
	   height: 80px;
	   background-size: 100% 100% !important;
	}
}

@media only screen and (max-width:640px ) {
	#btm_bg {
	   height: 80px;
	   background-size: 100% 100% !important;
	}
}
@media only screen and (max-width:400px ) {
	#btm_bg {
	   height: 50px;
	   background-size: 100% 100% !important;
	}
}

@media (max-width: 480px) and (max-width: 580px) {
p, p strong, p a, span, ul li, ul li a, ul li strong {
    font-size: 12.5px !important;
}
.general p{
    color: #7f8c8d;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.general .main-container h1.title {
    font-size: 18px;
}
h1, h2, h3, h4 {
    font-size: 18px !important;
}
.subtitle .title {
    margin: 10px 0 0 0;
    font-size: 18px !important;
    font-weight: 300;
}
.subtitle .lead {
    margin: 10px 0 0 0;
    font-size: 14px !important;
    font-weight: 300;
}
}